<footer>
    <div class="social-links">
        <a href="https://www.instagram.com/tetra.00000100/"><img src="<%= rootPath %>images/Instagram_Glyph_White.png"
                alt="Instagram"></a>
        <a href="https://x.com/Tetra00000100"><img src="<%= rootPath %>images/x_logo-white.png" alt="X"></a>
        <a href="https://www.youtube.com/@Tetra.0100"><img src="<%= rootPath %>images/youtube_social_square_dark.png"
                alt="YouTube" style="filter: invert(1);"></a>
    </div>
    <p class="copyright">&copy; Tetra Meiji Gakuin Univ.</p>
</footer>
